<!-- Modal -->
<div class="modal fade" id="broker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" broker_name="" broker_stat="" onshow="show_broker_charts();">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Broker Details</h4>
            </div>
            <div id="broker_details" style="width:100%;max-width:890px;height:400px">
            </div>
        </div>
    </div>
</div>