<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
<div id="wrapper">

    <!-- Navigation -->
    {% include 'nav.html' %}
    {% if user.is_authenticated %}
        {% include 'page-wrapper.html' %}
    {% endif %}
    <!-- /#page-wrapper -->
</div>
{% if error %}
    <h1 class="navbar-brand" style="color:white">
        {{ error }}, 请返回登录页面，重新登录
        <a href="/">返回</a>
    </h1>
{% else %}
    {% if not user.is_authenticated %}
        {% include 'login-form.html' %}
    {% endif %}
{% endif %}
</body>

</html>