<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    MQS Instance For Topic
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> MQS Instance For Topic
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% include 'broker-list.html' %}
</div>